

  <div class="row" *ngIf="person.length == 0 ">
    <div class="col-md-12">
      <div class="alert alert-danger" role="alert">
        No existen resultados en el termino <a class="alert-link">{{termino}}</a>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-4 d-flex aling-items-strech" *ngFor="let persona of person; let i = index">
        <div class="card">
          <img class="card-img-top" [src]="persona.img" [alt]="persona.nombre">
          <div class="card-body">
            <h5 class="card-title">{{persona.nombre}}</h5>
            <p class="card-text">{{persona.alias}}</p>
            <p class="card-text">{{persona.especie}}</p>
            <p class="card-text">{{persona.nacionalidad}}</p>
            <p class="card-text">{{persona.fechaNacimiento}}</p>
            <p class="card-text">{{persona.frase}}</p>
            <!--<p class="card-text"><small class="text-muted">{{per.consola}}</small></p>-->

            <button type="button" (click)="verPersonaj(i)" class="btn btn-primary"
                   href="assets/img/like.png"  data-mdb-ripple-color="dark">
              <img src="assets/img/like.png" height ="30" width="30" /></button>&nbsp;&nbsp;
            <button type="button" (click)="verPersonaj(i)" class="btn btn-danger"
                    data-mdb-ripple-color="dark">
              <img src="assets/img/dislike.png" height ="30" width="30" /></button>
          </div>
        </div>
      </div>
  </div>
  </div>
