<link rel="stylesheet" href="votos.component.css"><h1>
  <h1><small>CONTROL DE VOTACIONES</small></h1></h1>
<hr>
<div class="container">
  <div class="row">
    <div class="col-lg-4 d-flex aling-items-strech" *ngFor="let persona of PersonasOrganizadas; let i = index">
      <div class="card">
        <h1 *ngIf="i==0" align="center" > <small>Más &nbsp;&nbsp;<img src="assets/img/like.png" height ="50" width="50" /></small></h1>
        <h1 *ngIf="i==1" align="center"> <small>Más &nbsp;&nbsp;<img src="assets/img/dislike.png" height ="50" width="50" /></small></h1>
        <img class="card-img-top" [src]="persona.img" [alt]="persona.alias">
        <div class="card-body">
          <h5 class="card-title">{{persona.nombre}}</h5>
          <p class="card-text">{{persona.alias}}</p>
          <p class="card-text">{{persona.especie}}</p>
          <p class="card-text">{{persona.nacionalidad}}</p>
          <p class="card-text">{{persona.fechaNacimiento}}</p>
          <p class="card-text"><small class="text-muted">{{persona.frase}}</small></p>

          <p class="card-text"><small class="text-muted"><img src="assets/img/like.png" height ="50" width="50" />&nbsp;&nbsp;{{persona.me_gusta}}</small></p>
          <p class="card-text" size="10dp"><small class="text-muted"  ><img src="assets/img/dislike.png" height ="60" width="60" />&nbsp;&nbsp;{{persona.no_me_gusta}}</small></p>

        </div>
      </div>
    </div>
  </div>
</div>
