<div>
  <h2 class="text-center colo" style="font-family: 'Book Antiqua'" > Ve y Vota por tu Personaje Favorito</h2>
</div>

<hr>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/img/hulkini.jpg" class="d-block w-100" alt="">
    </div>
    <div class="carousel-item ">
      <img src="assets/img/spider.jpg" class="d-block w-100" alt="">
    </div>
    <div class="carousel-item ">
      <img src="assets/img/iron.jpg" class="d-block w-100" >
    </div>
    <div class="carousel-item ">
      <img src="assets/img/black-widow.jpg" class="d-block w-100" >
    </div>
    <div class="carousel-item ">
      <img src="assets/img/capAmeri.jpg" class="d-block w-100" >
    </div>
    <div class="carousel-item ">
      <img src="assets/img/loki.jpg" class="d-block w-100" >
    </div>
    <div class="carousel-item ">
      <img src="assets/img/doctor.jpg" class="d-block w-100" >
    </div>
    <div class="carousel-item ">
      <img src="assets/img/ant.jpg" class="d-block w-100" >
    </div>
    <div class="carousel-item ">
      <img src="assets/img/thor.jpg" class="d-block w-100" >
    </div>
    <div class="carousel-item ">
      <img src="assets/img/capmarve.jpg" class="d-block w-100 "  >
    </div>
    <div class="carousel-item ">
      <img src="assets/img/blackP.jpg" class="d-block w-100" >
    </div>
  </div>
</div>
