<h1>Los Personajes en accion de <small>Avenger</small></h1>
<div class="container">
  <div class="row">
    <div class="col-lg-4 d-flex aling-items-strech" *ngFor="let persona of per; let i = index">
      <div class="card mt-5">
        <img class="card-img-top" [src]="persona.img" [alt]="persona.nombre">
        <div class="card-body">
          <h5 class="card-title">{{persona.nombre}}</h5>
          <p class="card-text">{{persona.alias}}</p>
          <p class="card-text">{{persona.especie}}</p>
          <p class="card-text">{{persona.nacionalidad}}</p>
          <p class="card-text">{{persona.fechaNacimiento}}</p>
          <p class="card-text">{{persona.frase}}</p>
          <p class="card-text"><small class="text-muted">likes: {{persona.me_gusta}}</small></p>
          <p class="card-text"><small class="text-muted">disLikes: {{persona.no_me_gusta}}</small></p>

          <!--<p class="card-text"><small class="text-muted">{{per.consola}}</small></p>-->
          <button type="button" (click)="setLike(i)" class="btn btn-primary"
                 data-mdb-ripple-color="dark"> <img src="assets/img/like.png" height ="30" width="30" /></button>
          <button type="button" (click)="setDisLike(i)" class="btn btn-danger"
                  data-mdb-ripple-color="dark">
            <img src="assets/img/dislike.png" height ="30" width="30" /></button>
        </div>

      </div>
    </div>

  </div>
</div>
